<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Contact venkteshkavi@gmail.com for assistance on the app. Visit the below
  <a href="www.google.com">Help page</a>.
  For self service, see the
  <a href="https://www.railstutorial.org/book"><em>Rails Docs</em> </a>.
</p>
